

.jumbotron{
    margin: 2.5rem;
    
}
.display-4{
    font-size: 2.5rem;
}
.footer-copyright{
    background-color: rgba(228, 144, 20, 0.747);
}
#aciertos{
    background-color: #4cb74c9c;
}
#faltantes{
    background-color:#e6323273 ;
}
.bg-white {
    background-color: #e6e2e29c!important;}
h4{
    
    box-shadow: 1px -1px 3px 0px black!important;
    
}
#boton{
    background-color: #060606d9;
    border-radius: 15rem;
}
#icono{
    color: #e10000;
    font-size: 1.5rem;
}
.w-75 {
    width: 24% !important;
}